*.html linguist-detectable=false

# Inclure les fichiers .sql dans les statistiques linguistiques et les traiter comme du SQL
PostgreSQL/*.sql linguist-detectable=true linguist-language=SQL
PostgreSQL/*.sh linguist-detectable=true linguist-language=Bash
Neo4j/*.cql linguist-detectable=true linguist-language=Cypher