*.html linguist-detectable=false

# Inclure les fichiers .sql dans les statistiques linguistiques et les traiter comme du SQL
RDB/*.sql linguist-detectable=true linguist-language=SQL
RDB/*.sh linguist-detectable=true linguist-language=Bash